<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <servlet>
    <servlet-name>ProductEntry</servlet-name>
    <servlet-class>com.tekshop.ProductEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductEntry</servlet-name>
    <url-pattern>/addProductEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>com.tekshop.HomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/index.html</url-pattern>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewProduct</servlet-name>
    <servlet-class>com.tekshop.ViewProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProduct</servlet-name>
    <url-pattern>/view-product-details.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductUpdate</servlet-name>
    <servlet-class>com.tekshop.ProductUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUpdate</servlet-name>
    <url-pattern>/product-update.html</url-pattern>
    <url-pattern>/ProductUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCart</servlet-name>
    <servlet-class>com.tekshop.AddCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCart</servlet-name>
    <url-pattern>/AddCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cart</servlet-name>
    <servlet-class>com.tekshop.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/cart.html</url-pattern>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.tekshop.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateQuantity</display-name>
    <servlet-name>UpdateQuantity</servlet-name>
    <servlet-class>com.tekshop.UpdateQuantity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuantity</servlet-name>
    <url-pattern>/UpdateQuantity</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Checkout</servlet-name>
    <servlet-class>com.tekshop.Checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
</web-app>